.infoBox{
    display: flex;
    /* border: solid; */
    height: auto;
    width: 94%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;

}

.photoBox{
    display: flex;
    flex-direction: column;
    /* border: solid; */
    height: auto;
    width: 40%;
}

.textBox{
    display: flex;
    /* border: solid; */
    height: auto;
    width: 40%;
    flex-direction: column;
}

.donationBox{
    height: 180px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #28b0bf;
}

.donationText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white
}

.donateButton{
    color: #28b0bf;
    background-color: white;
    padding: 15px;
    border-radius: 24px;
    line-height: 1em;
    font-size: 18px;
    font-weight: 700;
    font-family: Greycliff,Lato,sans-serif;
    display: inline-block;
}

.footer{
    height: 200px;
    border-top: thin solid #999;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 4em;
    background-color: #eae5e1;
}

.footerLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 30%;
    flex-direction: column;
    padding-bottom: 24px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.footerLink{
    font-weight: bolder;
    text-decoration: none;
    padding: 5px;
}

.socialIcon{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.socialBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: auto;
    flex-direction: row;
    padding-bottom: 18px;
}
