.Wrapper{
    padding: 12px;
    width: 800px;
    border-width: 4%;
    margin-left: auto;
    margin-right: auto;
  }

.questionWrapper{
    padding: 6px;
    background-color: #28b0bf;
    border-radius: 6px;
}

.answerWrapper{
  padding: 6px;
}