@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

/* base styles */
* {
  margin: 0;
  font-family: "Fira Sans";
  color: #333;
  text-align: left;
}
.home {
  text-align: left;
}
h3 {
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 10px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.container {
  flex: 1;
}
img {
  width: 100%;
}
.form p {
  padding-bottom: 10px;
}
.form input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
button {
  margin: auto;
  width: 100%;
  background: #28b0bf;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
}
.video {
  margin: auto;
  padding: 10px;
  width: 700px; 
  height: 400px;
  max-width: 1050px;
}
.nextButton {
  margin: auto;
  width: 70px;  
  padding: 20px;
}
.text-danger {
  padding-bottom: 10px;
  color: rgb(255, 0, 0);
  font-size: 12px;
}
.questionnaire input {
  margin: 10px 0;
}
.questionText {
  padding-top: 10px;
}
.options label {
  padding-left: 10px;
}
.questionnaire select {
  position: fixed;
  bottom: 100;
  right: 560px;
}
.question {
  padding: 3px;
}
.questionnaire label {
  font-size: 14px;
}
#q4 {
  padding-bottom: 10px;
}
